head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ITGLOBAL

    link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="./css/owl.theme.default.min.css")
    link(rel='stylesheet', href="./css/owl.carousel.min.css")
    link(rel='stylesheet', href='./css/style.min.css')