// Подключение атомарных блоков
include inc/list/list

// Подключение целых компонентов
include blocks/header/header
include blocks/footer/footer
include blocks/btn/btn
include blocks/logo/logo
include blocks/card/card
include blocks/form/form
include blocks/search/search
include blocks/lang-switcher/lang-switcher
include blocks/main-nav/main-nav
include blocks/main-screen/main-screen