// Takes args:
// string: nav class
// obj: nav-item

mixin main-nav()
    div.main-nav
        +list('main-nav', 'nav-item', {'/about' : 'Home', '/solutions' : 'Решения', '/some' : 'other'})
    block