mixin header()
    header.header
        div.container
            div.header__wrap
                +logo()
                div.d-flex
                    +main-nav()
                    +search()
                    +lang-switcher()
                block